<!-- <footer>
    <h4 class="footer">Made by Priyan Kishore</h4>
    <div class="social">
      <a href="https://www.instagram.com/priyan._k/" target="_blank" rel="noreferrer noopener"><i class="soc-icon-1 fab fa-instagram"></i></a>
      <a href="https://twitter.com/PriyanKishore" target="_blank" rel="noreferrer noopener"><i class=" soc-icon-2 fab fa-twitter"></i></a>
      <a href="mailto:priyankishore2000@gmail.com" target="_blank" rel="noreferrer noopener"><i class=" soc-icon-3 far fa-envelope"></i></a>
    </div>
  </footer> -->
  
  </body>
  
  </html>
  