  <section class="contact" id="contact">
    <div class="heading white">
        <h2>Contact Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
    </div>
    <div class="content">
        <div class="contactinfo">
            <h3>Contact Info</h3>
            <div class="contactinfobx">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-map-marker-alt"></i>
                    </div>
                    <div class="text">
                    <h3>Address</h3>
                    <p>Rajiv Gandhi Salai, <br> Padur <br> Kelambakkam, Tamil Nadu - 603103</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="text">
                    <h3>Phone</h3>
                    <p>+91 7845326598</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="text">
                    <h3>E-mail</h3>
                    <p>20113022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="formbx">
            <form action="">
                <h3>Message Me</h3>
                <input type="text" name="" placeholder="Full Name" id="">
                <input type="email" name="" placeholder="Email" id="">
                <textarea  placeholder="Your Message"></textarea>
                <a class="btn" href="mailto:priyankishore2000@gmail.com" target="_blank" rel="noreferrer noopener">SEND</a>
            </form>
        </div>
    </div>
</section>

<div class="copyright">
    <p>Copyrights</p>
</div>


  <script src="js/index.js" charset="utf-8"></script>
  <script src="js/script.js" charset="utf-8"></script>
  <script src="js/particles.js" charset="utf-8"></script>
  <script src="js/application.js" charset="utf-8"></script>





  </body>
  
  </html>
  