<%- include("partials/header") -%>


<div class="loader">
  <marquee direction="right" scrollamount="10"
      >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Temporibus, modi.</marquee
  >
  <marquee direction="left" scrollamount="30"
      >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Itaque, cupiditate?</marquee
  >
  <marquee direction="right" scrollamount="20"
      >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Similique, quo.</marquee
  >
  <marquee direction="" scrollamount="40"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ducimus, dolorem.</marquee
  >
  <div class="intro">
      <h1 class="intro-title">Eluminate</h1>
  </div>
</div>

<section class="banner btitle" id="home">
    <div class="textbx">
        <div class="hometxt">
        <img src="/img/hits.png" alt="">
        <h2><span>ELUMINATE</span></h2>
        <div class="countdown">
            <div id="days">NA</div>
            <div id="hours">NA</div>
            <div id="mins">NA</div>
            <div id="secs">NA</div>
        </div>
        <!-- <h3>HOTSPOT OF TALENTS</h3> -->
        <!-- <a href="#" class="btn">Register</a> -->
        </div>
    </div>
</section>
<div class="robo">
    <img src="/img/robo.png" alt="">
</div>

<!-- <canvas id="particles-js"></canvas> -->
<div id="particles-js"></div>


<section class="about" id="about">
    <div class="heading">
        <h2>About Oasys</h2>
    </div>
    <div class="content">
        <div class="contentbx w50">
            <h3>Department event</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus laoreet non curabitur gravida arcu. Eu scelerisque felis imperdiet proin fermentum leo vel. Eu ultrices vitae auctor eu augue ut lectus arcu bibendum. Enim nec dui nunc mattis enim ut. <br> <br>
                 Adipiscing vitae proin sagittis nisl rhoncus. Elit at imperdiet dui accumsan sit amet. Dignissim cras tincidunt lobortis feugiat vivamus at. Ultrices tincidunt arcu non sodales neque sodales ut. Adipiscing elit pellentesque habitant morbi tristique senectus et netus et. Placerat in egestas erat imperdiet sed euismod nisi porta lorem. Faucibus pulvinar elementum integer enim neque volutpat ac. Mattis pellentesque id nibh tortor. Porttitor massa id neque aliquam vestibulum morbi blandit cursus risus. Mauris ultrices eros in cursus turpis.</p>
        </div>
        <div class="w50">
            <img src="img/img1.jpg" class="img" alt="">
        </div>
    </div>
</section>

<section class="services" id="services">
    <div class="heading white">
        <h2>Events</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
    </div>
    <div class="content">
        <a href="/pc">
        <div class="servicebx">
            <img src="img/event1.png" alt="">
            <h2>Project Conversazione</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="/pc" class="btn">View more</a>
        </div>
        </a>
        <a href="/pd">
        <div class="servicebx">
            <img src="img/event2.png" alt="">
            <h2>Panel Discussion</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="/pd" class="btn">View more</a>
        </div>
           </a>
        <a href="/dt">
        <div class="servicebx">
            <img src="img/event3.png" alt="">
            <h2>Design Thinking</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="/dt" class="btn">View more</a>
        </div>
         </a>
        <a href="/ctf">
        <div class="servicebx">
            <img src="img/event4.png" alt="">
            <h2>Capture the Flag</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="/ctf" class="btn">View more</a>
        </div>
        </a>
        <a href="/cd">
        <div class="servicebx">
            <img src="img/event5.png" alt="">
            <h2>Code Debugging</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="/cd" class="btn">View more</a>
        </div>
        </a>
        <a href="/mrms">
        <div class="servicebx">
            <img src="img/event6.png" alt="">
            <h2>Mr & Ms Solutions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="/mrms" class="btn">View more</a>
        </div>
        </a>
        <a href="/connexions">
            <div class="servicebx">
                <img src="img/event7.png" alt="">
                <h2>Connexions</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                <a href="/connexions" class="btn">View more</a>
            </div>
            </a>
            <a href="/mtwi">
        <div class="servicebx">
            <img src="img/event8.png" alt="">
            <h2>Minute to Win it</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="/mtwi" class="btn">View more</a>
        </div>
        </a>
        <a href="/th">
        <div class="servicebx">
            <img src="img/event9.png" alt="">
            <h2>Treasure Hunt</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="/th" class="btn">View more</a>
        </div>
        </a>
        <a href="/tgd">
        <div class="servicebx">
            <img src="img/event10.png" alt="">
            <h2>T-Shirt / Game Designing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a href="/tgd" class="btn">View more</a>
        </div>
        </a>
    </div>
  </section>

<!-- <section class="work" id="work">
    <div class="heading">
        <h2>REGISTER</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
    </div> -->
    <!-- <div class="content">
        <div class="workbx">
            <img src="img/product1.jpg" alt="">
        </div>
        <div class="workbx">
            <img src="img/product2.jpg" alt="">
        </div>
        <div class="workbx">
            <img src="img/product3.jpg" alt="">
        </div>
        <div class="workbx">
            <img src="img/product4.jpg" alt="">
        </div>
        <div class="workbx">
            <img src="img/product1.jpg" alt="">
        </div>
        <div class="workbx">
            <img src="img/product2.jpg" alt="">
        </div>
        <div class="workbx">
            <img src="img/product3.jpg" alt="">
        </div>
        <div class="workbx">
            <img src="img/product4.jpg" alt="">
        </div>
        <div class="workbx">
            <img src="img/product1.jpg" alt="">
        </div>
        <div class="workbx">
            <img src="img/product2.jpg" alt="">
        </div>
    </div> -->
    <!-- <div class="heading">
        <a href="https://forms.gle/wen2PZogvRZVdKpcA" target="_blank" rel="noreferrer noopener" class="reg";>Register solo event</a>
        <a href="https://forms.gle/wen2PZogvRZVdKpcA" target="_blank" rel="noreferrer noopener" class="reg";>Register team event</a>
    </div>
</section> -->

<!-- <section class="test">
    <div class="heading">
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
    </div>
    <div class="content">
        <div class="testbx">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
            <h3>Someone famous <br><span>Creative Designer</span></h3>
        </div>
        <div class="testbx">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
            <h3>Someone famous <br><span>Creative Designer</span></h3>
        </div>
    </div>
</section> -->



<%- include("partials/footer") -%>



<!-- <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_I4uTs1V8YGOIR9" async> </script> </form> -->
    <!-- <button class="check" value="check" type="submit" name="submit" id="rzp-button1">submit</button> -->