<%- include("partials/header") -%>

<section class="banner" id="home">
  <div class="textbx">
    <div class="etitle">
      <h2><span>Register</span></h2>
      <h3>This is funny! A smiley face, rolling on the floor, laughing. The face is laughing boundlessly. The emoji version of “rofl“. Stands for „rolling on the floor, laughing </h3>
      <div class="butrow"></div>
      <a href="https://forms.gle/wen2PZogvRZVdKpcA" target="_blank" rel="noreferrer noopener" class="btn regbtn">Solo</a>
      <a href="https://forms.gle/wen2PZogvRZVdKpcA" target="_blank" rel="noreferrer noopener" class="btn regbtn">Team</a>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
